<IfModule mod_expires.c>
	Header append Cache-Control "public"
	FileETag MTime Size
    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

    ExpiresByType js               						 "access plus 1 year"


    ExpiresByType img/gif                             "access plus 1 week"
    ExpiresByType img/jpeg                            "access plus 1 week"
    ExpiresByType img/png                             "access plus 1 week"
</IfModule>
